* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

header {
  padding: 1.5rem 1rem;
  background-color: rgb(56, 123, 216);
  color: rgb(231, 238, 244);
}

main {
  background-color: rgb(227, 230, 231);
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.gatewayTable {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.containerLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.containerAddLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.gatewayTable img {
  margin-left: 0.5rem;
  cursor: pointer;
}

.addNewGat {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .6rem 0 .2rem;
  height: 2.5rem;
  margin-top: .3rem;
  cursor: pointer;
}

.addNewGat:hover {
  border-radius: 50%;
  background-color: rgb(158, 159, 161, .2);
  transition: background-color .3s;
}